<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.foxgo.admin.mapper.MenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.foxgo.admin.entity.Menu">
        <result column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="modified_time" property="modifiedTime"/>
        <result column="parent_id" property="parentId"/>
        <result column="menu_name" property="menuName"/>
        <result column="type" property="type"/>
        <result column="url" property="url"/>
        <result column="perms" property="perms"/>
        <result column="icon" property="icon"/>
        <result column="order_num" property="orderNum"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_time,
        modified_time,
        parent_id,
        menu_name,
        type,
        url,
        perms,
        icon,
        order_num
    </sql>

    <select id="listUserPerms" resultType="string">
        select distinct m.perms
        from sys_menu m
                 left join
                 sys_role_menu rm on m.id = rm.id
                 left join sys_user_role ur
                           on rm.id = ur.id
        where ur.id
            = #{id}
    </select>

</mapper>
